header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-product-hunt
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Login
            li
                a(href=routes.userInfo) MyPage
            li
                a(href=routes.userDetail) Profile